@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@import "fonts";

body {
    font-size: 18px;
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

aside {
    background: url('../img/bg.jpg') 0 0 no-repeat;
    width: 600px;
    height: 300px;
}

h1 {
    font-size: 32px;
    @media (max-width: 767px) {
        font-size: 24px;
    }
}

p {
    font-style: 20px;
    @media (max-width: 767px) {
        font-size: 14px;
    }
}
